#login-user {
  text-align: center;
background-color: #FFFAEE;
color: #89714E;
font-family: 'Playfair Display', serif;
}

.form-group {
  background-color: #FFFAEE;
  text-align: center;  
}


body {
  text-align: center;
  background-color: #FFFAEE;
  color: #89714E;
  font-family: 'Playfair Display', serif;
}

.form-group {
  color: #89714E;
  width: 80%;
  padding-left: 20%;
  text-align: center;
}

::placeholder {
  text-align: center;
}

#completedtext {
  text-align: center;
  padding-left: 35%;
}

#create-timesheet, #update-timesheet, #delete-timesheet, #submit-button, #register-new-user, #new-button, #task {
  background-color: #89714E;
  border: none;
  color: #FFFAEE;
  padding: 15px;
  text-align: center;

  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}

#filtered {
  padding-top: 5%;
}