#login-user {
    text-align: center;
background-color: #FFFAEE;
color: #89714E;
font-family: 'Playfair Display', serif;
}

.form-group {
    background-color: #FFFAEE;
    text-align: center;  
}

button {
    color:  #FFFAEE;
    background-color:  #89714E;
}

img {
padding-left: -80px;
height: 300px; 
background-color:  #FFFAEE ;
padding-bottom: 10px;
padding-top: 10px; 
}

body {
    text-align: center;
    background-color: #FFFAEE;
    color: #89714E;
    font-family: 'Playfair Display', serif;
}